extends layouts/menuLayouts.pug
block style
    link(rel="stylesheet", href="/css/addRecord.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Michroma&family=Paytone+One&family=Quattrocento+Sans&family=Saira+Condensed:wght@100&display=swap" rel="stylesheet")
    title #{titlePageAddRecord}
block content
    title Add New Record
    body 
    main 
        .container-form 
            form.record-form(action="/record", method="POST")
                .form-control 
                    label(for="task-title") Nazwa rekordu 
                    input(type="text", id="task-title", name="taskTitle")
                    label(for="task-link") Link  
                    input(type="text", id="task-link", name="taskLink")
                    label(for="task-description") Opis rekordu  
                    textarea(name="taskDescription" id="task-description" cols="21" rows="3")
                    button.btn-form(type="submit") Dodaj rekord
