extends layouts/menuLayouts.pug


block style
    link(rel="stylesheet", href="/css/404.css")
    title #{titlePage}
block content
    body 
        main.container
            div.box
                h1.box--h1 Page not Found 
                    p.box--p 404

    