*{
    box-sizing:     border-box;
    font-size:      20px;
    margin:         0;
    padding:        0;
}

body{
    background-color:    rgb(238, 73, 73);
}


.container{
    height:         40rem;
}
.box{
    display:        flex;
        justify-content:    center;
        align-items:        center;
    height:         100%;
    width:          100%;
  
}
.box--h1{
    color:      yellow;
    font-size:    5vw;
    
}
.box--p{
    font-size:      20vw;
   
}